/* Google fonts import */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oxygen:wght@300;400;700&display=swap');



/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #613613;
    font-family: 'Montserrat', sans-serif;;
}

/* Header */
header {
    background-color: #5C2C06;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #613613;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

header label i {
    color: #fff;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li a{
    font-weight: 600;
}
#menu>li {
    margin-bottom: .7em;
}

.active,
.active:hover {
    background: #997950;
    transition: .3s;
    border-radius: 4px;
    padding: .3rem;
}

/* Navbar toggle */
nav {
    position: absolute;
    background-color: #5C2C06;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #613613;
    display: none;
    top: 100%;
}

/* Nav toggle */
#check:checked~nav {
    display: block;
}

#check {
    display: none;
}

/* Main content */

main {
    /* Make element take surplus space */
    flex: 1 0 auto;
    /* pushes content down so it is not hidden by the nav */
    margin-top: 10px;
}

#main-page-color {
    background-color: rgba(110, 78, 36, .1);
}

/* Top main part of home page */
#top-main {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-toni-cuenca-585753.webp") no-repeat center center/cover;
    position: relative;
}


#cover-text>h2,
#cover-text>h3 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f0e7e7;
    /* SEPARATES THE TWO TEXTS */
    margin-bottom: 1rem;
}



#cover-text {
    background-color: rgba(153, 121, 80, 0.7);
    position: absolute;
    top: 5rem;
    left: 1rem;
    font-size: 120%;
    width: 80%;
    min-height: 100px;
    border-radius: 5px;
    padding: 1rem 0.3rem;
}

#main h2 {
    text-align: center;
    font-size: 140%;
    background-color: rgba(153, 121, 80, 0.7);
    padding: 1rem 1rem;
    box-shadow: 3px 2px 2px #613613;
    color: #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 25px;
    text-transform: uppercase;
}

.color p{
    font-weight: 200;
}

#facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 1rem 1rem;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 2px #613613;
    max-width: 700px;
}


/* Background for each container */
.one {
    background: url("../images/container-img-one.webp") no-repeat center center/cover;
}

.two {
    background: url("../images/container-img-two.webp") no-repeat center center/cover;
}

.three {
    background: url("../images/container-img-three.webp") no-repeat center center/cover;
}

.four {
    background: url("../images/container-img-four.webp") no-repeat center center/cover;
}

/* Color for interesting facts text to contrast it from the background image*/
.color {
    background-color: rgba(241, 222, 198, 0.5);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.5rem;
}

.color>h3,
.color>p {
    color: #000000;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Gallery */

#gallery h2 {
    /* margin: 20px auto; */
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 1rem;
    padding-top: 1rem;
}

#gallery h2 span {
    background-color: rgba(153, 121, 80, 0.430);
    color: #613613;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
}

u {
    margin-top: 0.2rem;

}

#images img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    margin: 0.5rem auto;

}

/* Coffee Types */

#top-main-img {
    height: 600px;
    width: 100%;
    background: url("../images/coffee-types.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: 2px 2px 5px #000000;
}

#coffee-types-cover {
    background-color: rgba(78, 62, 41, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    width: 80%;
    border-radius: 5px;
    padding: 1rem 1rem;
    color: #ebbdbd;
    text-align: center;
}

#coffee-types-cover h1 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

/* Styling the coffee types layout */

.cards {
    display: grid;
    flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-img {
    width: 100%;
    display: block;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 15px;
}



.card {
    box-shadow: 3px 3px 8px #000;
    background-color: rgba(90, 47, 47, 0.4);
    margin: 1rem auto;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 750px;
    position: relative
}

.card-content {
    line-height: 1.5;
    font-size: 1.2em;
    padding: 20px;
    color: white;
}

.card-info {
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-content h2 {
    text-align: center;
    margin: 0.5rem;
    color: rgba(92, 45, 6, 0.8);
}

.card-content p {
    text-align: center;
    margin: 0.5rem;
    color: rgba(92, 45, 6, 0.8);
    font-weight: 500;
}

.card-info a {
    color: #5C2C06;
    text-decoration: none;
    font-weight: 500;
}


.card-info a:hover {
    background-color: rgba(73, 57, 57, 0.164);
    padding: 0.5rem;
    border-radius: 5px;
}

/* Sign Up Form */

#sign-up {
    height: 100vh;
    /* width: 100%; */
    background: url("../images/sign-up.webp") no-repeat center center/cover;
    font-size: 120%;
}



#sign-up-form {
    background-color: rgba(0, 0, 0, .4);
    width: 85%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    color: white;
    box-shadow: 5px 5px 13px black;
}

#reg-form {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


#sign-up-form h2 {
    margin: 1rem;
    font-size: 140%;
}

/* Change the font size of the labels */
.label-text {
    font-size: 95%;
    font-weight: 600;
}

#sign-up-form input {
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgba(92, 45, 6, 0.3);
}

/* Change the color of the text of the placeholder */
#sign-up-form input::placeholder {
    color: #ffffff;
}


/* Input border when clicked and the color of input letters */
#sign-up-form input:focus {
    color: #ffffff;
    outline: 2px solid #ffffff;
}

form button {
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    border-radius: 15px;
    border: 1px solid #fff;
    color: white;
    background-color: rgba(153, 121, 80, 0.571);
    font-size: 80%;
    font-weight: 600;
    transition: .4s;
}

#log-in{
    font-size: 60%;
}

/* Log In Page */
#log-in{
    margin: 0.2rem;

}

#log-in a{
    background-color: rgba(153, 121, 80, 0.571);
    color: #fff;
    text-decoration: none;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: 600;
}

#sign-up #reg-form .log-in-form{
    margin-top: 3.5rem;
}

/* Footer */
footer {
    background-color: #613613;
}

#social-links {
    padding: 0.3rem 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

footer>p {
    color: #ffffff;
}

/* Fontawesome Icons styling */
.fa-brands {
    color: #ffffff;
    font-size: 130%;
    padding: 1rem;
    transition: .3s;
}

.fa-facebook:hover{
    color: #1877F2;
}

.fa-twitter:hover{
    color: #1DA1F2;
}

.fa-youtube:hover{
    color: #c4302b;
}

.fa-instagram:hover{
    color: #ee2a7b;
}

#footer-p {
    text-align: center;
}

#footer-p a {
    text-decoration: none;
    color: #ffffff;
}

/* Media query for screen sizes (313 and below) */
@media screen and (max-width: 313px) {
    /* hide font awesome icon on smaller devices */
    #h1-icon {
        display: none;
    }
}

/* Media query for screen sizes (355 and below) */
@media screen and (max-width: 355px){
    /* Adjust the logo font size for this screen size */

    /* Header */
#logo{
    font-size: 120%;
}
    
}




/* Media query: screens 390px and below */
@media screen and (min-width:390px) {
    
    .card {
        height: 500px;
        padding-bottom: 2rem;
    }

    #log-in{
        font-size: 70%;
    }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {


    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .check-lable {
        display: none;
    }

    #logo {
        font-size: 120%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* push content down so it is not hidden behind the nav */
        margin-top: 75px;
    }

    /* Gallery */
    #images {
        column-count: 2;
    }

    /* Coffee Types */
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        height: 550px;
        padding-bottom: 2rem;
    }

    .card-content p {
        text-align: center;
        margin: 0.5rem;
        color: rgba(92, 45, 6, 0.8);
        font-weight: 500;
    }


    /* Sign Up Page */
    #sign-up-form {
        max-width: 40%;
    }

    
            }


/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    /* Header */

    #logo{
        font-size: 120%;
    }
    #menu a:hover {
        background: #997950;
        transition: .3s;
        border-radius: 4px;
        padding: .3rem;
    }

    #menu li {
        padding-left: 5rem;
    }

    .container {
        max-width: 400px;
        margin: 20px auto;
    }

    /* Gallery */
    #images {
        column-count: 3;
    }

    /* Coffee Types */
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Sign Up Page */
    form button {
        cursor: pointer;
        width: 40%;
    }

    form button:hover {
        background-color: #ffffff;
        color: rgba(153, 121, 80, .8);
        border: 1px solid rgba(153, 121, 80, .8);
    }

    #reg-form {
        padding-top: 1.5rem;
    }

    #log-in a:hover{
        color: rgb(153, 121, 80);
        background-color: #fff;
        border: 1px solid rgb(153, 121, 80);
    }
}

/* Media query: larger screens (1024px and up) */
@media screen and (min-width: 1024px) {
    /* Home Page */
        .container {
        max-width: 500px;
    }
}


/* Media query: laptops and larger screens (1440px and up) */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 700px;
    }
}
