/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #613613;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #5C2C06;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #613613;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header label i {
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: .7em;
}

.active,
.active:hover {
    background: #997950;
    transition: .3s;
    border-radius: 4px;
    padding: .3rem;
}

/* Navbar toggle */
nav {
    position: absolute;
    background-color: #5C2C06;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #613613;
    display: none;
    top: 100%;
}

/* Nav toggle */
#check:checked~nav {
    display: block;
}

#check {
    display: none;
}

/* Main content */

main {
    /* Make element take surplus space */
    flex: 1 0 auto;
    /* pushes content down so it is not hidden by the nav */
    margin-top: 48px;
}

/* Top main part of home page */
#top-main {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-toni-cuenca-585753.jpg") no-repeat center center/cover;
    position: relative;
}


#cover-text>h2,
#cover-text>h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #d3bdbd;
    /* SEPARATES THE TWO TEXTS */
    margin-bottom: 1rem;
}



#cover-text {
    background-color: rgba(153, 121, 80, 0.7);
    position: absolute;
    top: 5rem;
    left: 1rem;
    font-size: 120%;
    width: 80%;
    min-height: 100px;
    border-radius: 5px;
    padding: 1rem 0.3rem;
}

#main h2 {
    text-align: center;
    font-size: 150%;
    margin: 1.3rem 1.3rem;
    background-color: rgba(153, 121, 80, 0.7);
    padding: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 3px 2px 2px #613613;
}

#facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 1rem 1rem;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 2px #613613;
    max-width: 700px;
}


/* Background for each container */
.one {
    background: url("../images/container-img-one.jpg") no-repeat center center/cover;
}

.two {
    background: url("../images/container-img-two.jpg") no-repeat center center/cover;
}

.three {
    background: url("../images/container-img-three.jpg") no-repeat center center/cover;
}

.four {
    background: url("../images/container-img-four.jpg") no-repeat center center/cover;
}








/* Footer */
footer {
    background-color: #997950;
}

#social-links {
    padding: 0.3rem 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

footer>p {
    color: #ffffff;
}

/* Fontawesome Icons styling */
.fa-brands {
    color: #ffffff;
    font-size: 130%;
    padding: 1rem;
}

#footer-p {
    text-align: center;
}

#footer-p a {
    text-decoration: none;
    color: rgb(244, 204, 204);
}

#footer-p a:hover {
    color: rgb(255, 255, 255);
}








/* Media query for screen sizes (313 and below) */
@media screen and (max-width: 313px) {

    /* hide font awesome icon on smaller devices */
    #h1-icon {
        display: none;
    }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .check-lable {
        display: none;
    }

    #logo {
        font-size: 220%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* push content down so it is not hidden behind the nav */
        margin-top: 75px;
    }
}


/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        background: #997950;
        transition: .3s;
        border-radius: 4px;
        padding: .3rem;
    }

    #menu li {
        padding-left: 5rem;
    }
}