/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #613613;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #5C2C06;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #613613;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header label i {
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: .7em;
}

.active,
.active:hover {
    background: #997950;
    transition: .3s;
    border-radius: 4px;
    padding: .3rem;
}

/* Navbar toggle */
nav {
    position: absolute;
    background-color: #5C2C06;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #613613;
    display: none;
    top: 100%;
}

/* Nav toggle */
#check:checked~nav {
    display: block;
}

#check {
    display: none;
}



















/* Media query for screen sizes (313 and below) */
@media screen and (max-width: 313px) {

    /* hide font awesome icon on smaller devices */
    #h1-icon {
        display: none;
    }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .check-lable {
        display: none;
    }

    #logo {
        font-size: 220%;
        line-height: 75px;
        margin: 0 0.5rem;
    }